* text=auto
*.md   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.py   text eol=lf

*.csv  text eol=lf

*.ps1  text eol=lf
*.txt  text eol=lf

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.editorconfig text eol=lf



*.toml  text eol=lf
*.jsonl text eol=lf
*.cmd   text eol=lf
*.reg   text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
.markdownlintignore text eol=lf
.mdlrc         text eol=lf
.lychee.toml   text eol=lf
