* text=auto eol=lf
*.md text linguist-language=Markdown
*.svg text
*.png binary
*.jpg binary
*.zip binary

# Preserve CRLF for Windows scripts/regs
*.cmd text eol=crlf
*.reg text eol=crlf
*.sh   text eol=lf
*.py   text eol=lf
*.yml   text eol=lf
